body {
      font-family: 'Raleway', sans-serif;
      color: #111;
      line-height: 1.5;
      background-color: #f3f3f3;
}
.section-title {
    text-align: center;
}
.section-title h2 {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
}

header {
      text-align: center;
      border-bottom: 1px  solid #7c7979;
}
header img {
      height: 80px;
      padding-bottom: 8px;
}
nav ul {
      display: flex;
      justify-content: center;
      gap: 2.0rem;
      margin-top: 1rem;
      list-style: none;
}
nav a:hover,
nav a:focus,
nav a:active {
      color: white !important;         
      background-color: transparent;    
      outline: none;                    
}
nav a {
      text-decoration: none;
      font-weight: 550;
      color: #cbc7c7;
      text-transform: uppercase;
      letter-spacing: 0.3px;
}
.navbar-bg-2{
        background-color: black;
}
.dropdown-menu {
    background-color: #000;
    border: none;
    transition: all 0.3s ease;
}
.dropdown-item {
    color: #fff;
}
.dropdown-item:hover {
    background-color: #333;
    color: #fff;
}










.image-box {
  width: 280px;
  height: 350px;
  background: #ddd;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: 1rem;
  color: #555;
}
.step-card {
  border: 1px solid #eaeaea;
  border-radius: 12px;
  padding: 25px;
  text-align: center;
  transition: all 0.3s ease;
}
.step-card:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}








footer {
      background: #111;
      color: #fff;
      padding: 2rem 1rem;
      text-align: center;
      font-size: 0.9rem;
}
footer img {
    height: 80px;
    width: 250px;
}
.social-icons a { 
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: white;
    margin-right: 10px;
}