body {
      font-family: 'Raleway', sans-serif;
      color: #111;
      line-height: 1.5;
      background-color: #f3f3f3;
}
.section-title {
    text-align: center;
}
.section-title h2 {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
}

header {
      text-align: center;
      border-bottom: 1px  solid #7c7979;
}
header img {
      height: 80px;
      padding-bottom: 8px;
}
nav ul {
      display: flex;
      justify-content: center;
      gap: 2.3rem;
      margin-top: 1rem;
      list-style: none;
}
nav a:hover,
nav a:focus,
nav a:active {
      color: white !important;         
      background-color: transparent;    
      outline: none;                    
}
nav a {
      text-decoration: none;
      font-weight: 600;
      color: #cbc7c7;
      text-transform: uppercase;
      letter-spacing: 0.5px;
}
.navbar-bg-2{
        background-color: black;
}
.dropdown-menu {
    background-color: #000;
    border: none;
    transition: all 0.3s ease;
}
.dropdown-item {
    color: #fff;
}
.dropdown-item:hover {
    background-color: #333;
    color: #fff;
}

.bg-collection-img {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-top: 50px;
}
.collection-img-superwhite {
    border-color: black;
    border-style: solid;
    border-width: 18px;
    background-image: url("images/superwhite.png");
    height: 70vh;
    background-size: cover;
    border-radius: 5px;
}
.collection-img-emerald {
    border-color: black;
    border-style: solid;
    border-width: 18px;
    background-image: url("images/emerald.jpg");
    height: 70vh;
    background-size: cover;
    border-radius: 5px;
}
.collection-img-wave {
    border-color: black;
    border-style: solid;
    border-width: 18px;
    background-image: url("images/wave.jpg");
    height: 70vh;
    background-size: cover;
    border-radius: 5px;
}

.benefit-card {
    text-align: center;
    margin: 8px;
}
.benefit-card h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.benefit-card p {
    font-size: 18px;
    max-width: 300px;
    margin: 0 auto;
}
.moisture-section {
    text-align: center;
}       
.moisture-section h3 {
    font-size: 24px;
    letter-spacing: 3px;
    margin-bottom: 15px;
}
.moisture-section p {
    max-width: 600px;
    margin: 0 auto;
}

.product-card {
  border: solid 1px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  height: 100%;
}
.product-card:hover {
  transform: translateY(-6px);
}
.product-card img {
  background-color: #eaeaea;
  height: 200px;
  width: 100%;
  border-radius: 10px;
}
.product-info {
  padding: 20px;
}
.product-info h4 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.product-info p {
  font-size: 14px;
  color: #555;
  margin-top: 6px;
  font-style: italic;
}
.product-card a{
    text-decoration: none;
}

.ourstore-card {
  background-image: url("images/store.png");
  background-size: cover;
  width: 100%;
  height: 60vh;
  background-position: center;  
  min-height: 60vh;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}
.ourstore-card h1 {
  font-size: 2.8rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.ourstore-card button {
  padding: 10px 30px;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: 200;
  border-radius: 30px;
  transition: all 0.2s ease;
}
.ourstore-card button:hover {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
}

.news-card {
  background-color: #fff;
  color: #000;
  padding: 30px;
  border-radius: 12px;
  transition: transform 0.3s ease;
}
.news-card:hover {
  transform: translateY(-5px);
}
.news-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.news-card .date {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 15px;
}
.news-card p {
  font-size: 14px;
  margin-bottom: 20px;
}
.news-card .read-more{
    color: #000;
}

footer {
      background: #111;
      color: #fff;
      padding: 2rem 1rem;
      text-align: center;
      font-size: 0.9rem;
}
footer img {
    height: 90px;
    width: 250px;
}
.social-icons a { 
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: white;
    margin-right: 10px;
}


.store-card {
  background-color: #e3e3e3;
  border-radius: 12px;
  transition: transform 0.3s ease;
  height: 95%;
}
.store-card:hover {
  transform: translateY(-5px);
}
.store-card img {
  background-color: #e0e0e0;
  height: 200px;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.btn-store {
  background-color: #000;
  color: #fff;
  padding: 9px 80px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
.btn-store:hover {
  background-color: #333;
}


.step-number {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin-bottom: 5px;
}
.step-text {
  color: #333;
  font-size: 15px;
  text-align: center;
  line-height: 1.4;
}


.about-card img {
    width: 100%;
    border-radius: 6px;
}
.curve {
   border-radius: 8px;
}
.blockquote {
  font-style: italic;
  font-size: 1rem;
  color: #5d5d5d;
}


.heading h4{
  position: relative;
}
.heading h4::after{
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0;
  height: 3px;
  width: 0%;
  background-color: #b3b3b3;
  transition: all ease 1s;
}
.heading h4:hover::after{
  width: 90%;
}